    <!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Bem-vindo ao Sistema de Cargas</title>
    </head>
    <body>
    <h1>Bem-vindo ao Sistema de Cargas</h1>

    <div>
        <h2>O que você deseja fazer?</h2>
        <ul>
            <li><a href="/cargas/listar">Listar Cargas</a></li>
            <li><a href="/cargas/novo">Cadastrar Nova Carga</a></li>
            <li><a href="/cargas/deletar/1" onclick="return confirm('Tem certeza que deseja excluir?');">Deletar Carga </a></li>
        </ul>
    </div>
    </footer>
    </body>
    </html>
