<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Fretes</title>
  <link rel="stylesheet" th:href="@{../img/css/dashboardadmin/index.css}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
<div th:insert="~{dashboard/fragments/sidebar :: sidebar}"></div>

<div class="main-content">
  <div th:insert="~{dashboard/fragments/header :: header}"></div>
  <main class="content">

   <div class="page-title">
     <h1>Gerenciamento de Fretes</h1>
   </div>
    <div class="card stat-card">
      <div class="icon blue">
        <i class="fas fa-list"></i>
      </div>
      <div class="stat-content">
        <a th:href="@{/dashboard/fretes-listartodos}" style="text-decoration: none;">
          <h3>Listar Fretes</h3>
        </a>
      </div>
    </div>
  </main>
</div>
</body>
</html>