<form th:action="@{/cargas/editar}" th:object="${carga}" method="post" xmlns:th="http://www.w3.org/1999/xhtml">
    <input type="hidden" th:field="*{id}" />

    <label>Origem Cidade</label>
    <input type="text" th:field="*{origemCidade}" />

    <label>Origem Estado</label>
    <input type="text" th:field="*{origemEstado}" />

    <label>Destino Cidade</label>
    <input type="text" th:field="*{destinoCidade}" />

    <label>Destino Estado</label>
    <input type="text" th:field="*{destinoEstado}" />

    <label>Tipo de Carga</label>
    <input type="text" th:field="*{tipoCarga}" />

    <label>Produto</label>
    <input type="text" th:field="*{produto}" />

    <label>Peso Total</label>
    <input type="number" th:field="*{pesoTotal}" />

    <button type="submit">Salvar</button>
</form>
